html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            width: 100%;
        }

        body {
            display: table;
            font-family: 'Alegreya Sans',sans-serif;
    color: #333;
        }

        .container {
            text-align: center;
            display: table-cell;
            vertical-align: middle;
        }